*.pyc
/.eggs/
/bin/
/include/
/lib/
/lib64
/local/
/share/
/src/pixsaw.egg-info/
/pyvenv.cfg
/tmp-small-puzzle-example
/.venv/
/dist/

/dep/*
!/dep/.gitkeep
/security-issues-from-bandit.txt
/vulnerabilities-pip-audit.txt
/output/
